* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.navbar {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .util {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar .util .login button {
  background: transparent;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-bg {
  height: calc(100% - 78px);
  background: rgb(249, 250, 255);
  padding: 12px 14px;
  box-sizing: border-box;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  background: white;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  margin-bottom: 10px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 0.5s;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.list-item .data > p {
  padding-top: 0.8rem;
  color: grey;
}

.list-item .list-txt p {
  margin-top: 6px;
}

.list-item .category {
  position: absolute;
  right: 18px;
  top: 53%;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: red;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 70px;
  height: 70px;

  z-index: 10;
}

.list-item .category button,
.list-item .category a {
  text-align: center;
  font-size: 0.9rem;
  padding: 8px 15px;
  background-color: transparent;
  border-radius: 0;

  transition: background 0.3s, border-radius 0.3s;
}

.list-item .category button {
  border-top: 1px solid lightgray;
}

.list-item .category button:hover {
  background-color: lightgray;
  border-radius: 0 0 10px 10px;
}
.list-item .category a:hover {
  background-color: lightgray;
  border-radius: 10px 10px 0 0;
}

/* .list-item p {
  margin: 5px 0px;
} */

.p-20 {
  padding: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}

.dark-mode,
.dark-mode .navbar {
  background-color: #0b0b0d;
}
.dark-mode,
.dark-mode span,
.dark-mode a {
  color: #ececec;
}
